        
    *{
        background-color: rgb(0, 0, 0);
        overflow: hidden;
        --color:#2f2d2d;

    }
    .container{
        display: flex;
        position:absolute;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90%;
        top: 200px;
    }
    .button{
        width: 220px;
        height: 60px;
        border-radius: 100px;
        color: white;
        background-color: var(--color);
        border: none;
        padding: 10px;
        font-size: 30px;
        z-index: 4;
        position: relative;
        border: none;
        box-shadow: 0px 14px 15px 4px rgba(0, 0, 0, 0.176) inset,
    /*box-shadow:*/ 0px -20px 15px 1px rgba(255, 255, 255, 0.02) inset;
    }
    .outside{
        position: absolute;
        border: 2px solid var(--color);
        border-radius: 25px;
        width: 250px;
        height: 80px;
        background: var(--color);
        z-index: 3;
        border:none;
        box-shadow: 0px -18px 15px 7px rgba(0, 0, 0, 0.227) inset,
    /*box-shawdow:*/0px 14px 15px 7px rgba(255, 255, 255, 0.056) inset,
    /*box-shawdow:*/0px 1px 2px 1px rgba(0, 0, 0, 0.517) ;
    }
    .transparent{
        width: 270px;
        height: 100px;
        background-color: white;
        position: absolute;
        z-index: 1;
        border-radius: 25px;
        border-left: 0.05px solid rgba(0, 0, 0, 0.28);
        border-right: 0.05px solid rgba(0, 0, 0, 0.28);
        border-top: 0.05px solid white;
        border-bottom: 0.05px solid white;
        box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.288);
    }
    .gradient-container{
        position: absolute;
        width: 280px;
        height: 110px;
    }
    .gradient1{
        position: absolute;
        width: inherit;
        height: inherit;
        z-index: 2;
        border-radius: 25px;
        opacity: 0.3;
    }
    /* input:active {
        transform: scale(0.92);
        text-align:center;
    } */
    .press {
        transform: scale(0.92);
    }
    .fan-container{
        box-sizing: border-box;
        display: flex;
        position: absolute;
        height: 100%;
        width:100%;
        overflow: visible;
        justify-content: center; 
        
        
    }
    .fan{
        width: 285.5px;
        height: 250px;
        margin-top: 150px;
        object-fit: contain;
        background: none;
        z-index: 100;

    }
    .yeah{
        animation: rotate_fan 0.5s linear infinite;
    }
    @keyframes rotate_fan{
        0% {transform: rotate(0deg);}
        100%{transform :rotate(360deg);}
    }
